* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.body-portfolio * {
    border: 1px solid black;
    padding: 20px 0;
}

body > a {
    display: block;
    width: 20%;
    margin: 0 auto 10px;
}

.portfolio-main > button {
    display: block;
    margin: 0 auto;
}


.img-heading {
    display: block;
    width: 300px;
    height: 200px;
    background-color: rgb(225, 225, 225);
    margin: 0 auto 10px;
}

.headline-container {
    border: none;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 0;
}

.headline-img-container {
    border: none;
    padding-bottom: 0;
}

.headline {  
    background-color: rgb(200, 200, 200);
    width: 90%;
    margin: 0 auto 10px;
}

.bio {  
    background-color: rgb(175, 175, 175);
    width: 90%;
    margin: 0 auto 10px;
}

.link-projects {
    background-color: rgb(150, 150, 150);
}

.link-contact {
    background-color: rgb(125, 125, 125);
}

.project-screenshot {
    width: 80%;
    height: 85%;
    display: block;
    margin: 10px auto;
    border: 1px solid black;
}

.project {
    border: 1px solid black;
    height: 400px;
    width: 90%;
    margin: 0 auto 15px;
    background-color: rgb(175, 175, 175);
}

@media screen and (min-width: 750px) {
 
    .project {
        display: inline-block;
        width: 45%;
    }

    .img-heading {
        display: inline-block;
    }

    .headline {
        display: inline-block;
        width: initial;
    }

    .headline-container {
        text-align: left;
        width: 90%;
    }

    .headline-img-container {
        width: 45%;
        display: inline-block;
        border: none;
        text-align: center;
    }

    .link-projects, .link-contact {
        display: inline-block;
    }
}
